
*{box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(241, 241, 241);
}
  .header-nav-img{
      background-image: url(/assets/Guadavi.jpg);
      background-repeat: repeat;
      height: 600px;
  }
 p, h1, h2, h3, h4, button {
    font-family: 'Zen Kaku Gothic New', sans-serif;
 }
  .header h1{
      padding-top: 0.5%;
    text-align: center;
    background:linear-gradient( rgb(87, 85, 85) , rgba(0, 0, 255, 0) 100%);
    color: rgb(255, 255, 255);
    position: sticky; top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  /* Start Nav Code*/
  .nav-bar{
      background-color: rgba(255, 255, 255, 0.568);
      margin-top: 10px;
      justify-content: center;
      padding: 0.5%;
      display: flex;
      border: rgb(255, 255, 255) 5px solid;
      position: sticky;top: 0px;
  }
  .nav-bar button{
    
      border: none ;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-weight: 400;
      background: rgba(255, 255, 255, 0);
      padding: 0% 5%;
  }
  /* end Nav Code*/

           /* Start Grid Code For Introduction Gallery*/
.grid-title{
text-align: center;
padding-top: 1em;
color: rgb(0, 0, 0);
font-size: 3em;
}
 .grid-gallery{
     margin-top: 50px;
     background-color: inherit;
     display:grid;
     width: 85%;
     margin: auto;
     margin-top: 50px;
     grid-template-columns:50% 50%;
     grid-template-rows: auto;
     grid-gap: 15px;
     grid-template-areas: 
     "col1 col2"
     
     
 }
 .column1{
     grid-area: col1;
 }
 .column1 img{
    width: 100%;
    padding-top: 2em;
} 
 .column2{
     grid-area: col2;
 }
 .column2 img{
    width: 100%;
    padding-top: 2em;
 }

       /* end Grid Code For Introduction Gallery*/


.footer {
    background-color: black;
    color: white;
    padding: 5em;
}





















/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .nav-bar .pc-button{
      display: none;
  }
  .nav-bar{
      justify-content: left;
  }
  .grid-gallery{
    grid-template-columns:auto;
      grid-template-areas:
      "col1"
      "col2";
  }
}
/* pc Queries*/
@media only screen and (min-width: 768px) {
    .menu-phone{
       display: none; 
    }
}